<div class="episode episode-submission-form">
  <span id="hide-submission-form-icon" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  <%= form_tag('/episodes') do %>
    <%= label_tag "podcast", "Select a podcast:", class: "control-label" %>
    <%= 
      select_tag "podcast",
        options_from_collection_for_select(@podcasts, "id", "name"),
        class: "form-control",
        include_blank: true,
        'data-remote': 'true',
        'data-url': url_for(controller: 'episodes', action: 'get_episodes_data'),
        'data-type': 'json'
      %>

    <%= label_tag "episode", "Select an episode:", class: "control-label" %>
    <%= select_tag "episode", options_for_select([]), class: "form-control", include_blank: true %>
    <%= submit_tag "Submit Episode", class: "btn btn-default btn-submit-episode" %>
  <% end %>
</div> <!-- /episode-submission-form -->

