<div class="container container-dashboard">
  <div class="row">
    <div class="col-sm-3">
      <%= render 'shared/profile_card' %>
    </div>
    <div class="col-sm-9">
      <div class="episode episode-submission-form">
        <%= form_tag('/episodes') do %>
          <%= label_tag "podcast", "Select a podcast:", class: "control-label" %>
          <%= 
            select_tag "podcast",
              options_from_collection_for_select(@podcasts, "id", "name"),
              class: "form-control",
              'data-remote': 'true',
              'data-url': url_for(controller: 'episodes', action: 'get_episodes_data'),
              'data-type': 'json'
            %>

          <%= label_tag "episode", "Select an episode:", class: "control-label" %>
          <%= select_tag "episode", options_for_select(@rr_episode_titles), class: "form-control" %>
          <%= submit_tag "Submit Episode", class: "btn btn-default btn-submit-episode" %>
        <% end %>
      </div> <!-- /episode-submission-form -->

      <% if @episodes.empty? %>
        <div class="episode text-center text-muted">
          You haven't submitted any episodes yet...
        </div>
      <% else %>
        <% @episodes.each do |episode| %>
          <div class="episode">
            <div class="row">
              <div class="col-sm-1 upvotes">
                <%= button_to vote_path(episode_id: episode.id), class: "btn btn-default btn-upvote" do %>
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                  <span class="upvote-value"><%= episode.votes.count %></span>
                <% end %>
              </div>
              <div class="col-sm-2">
                <img class="thumbnail-podcast" src="<%= episode.podcast.image %>" style="height: 110px; width: 110px;">
              </div>
              <div class="col-sm-9">
                <h3 class="episode-title">
                  <%= episode.title %>
                </h3>
                <span class="episode-details">
                  <strong>Published on:</strong> <%= episode.published_date %> |
                  <strong>Duration:</strong> <%= episode.duration %>
                <audio controls>
                  <source src="<%= episode.audio_url %>" type="audio/mpeg">
                </audio>
                </span>
              </div>
            </div>
          </div> <!-- /episode -->
        <% end %>
      <% end %>
    </div>
  </div>
